* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f6f5;
}
.top {
  display: flex;
  padding: 100px;
  max-width: 1440px;
  flex: 1;
}

.container {
  padding: 150px;
  margin-bottom: 150px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 50%;
}
.plate {
  width: 50%;
  height: 348px;
}
.h1 {
  color: #3a3845;
}
.text {
  color: #3a3845;
}
.shop-Button {
  font-weight: bold;
  color: #3a3845;
}
.Shop {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
